

.icon16 {
    width:16px;
    height:16px;
}

.icon24 {
    width:24px;
    height:24px;
}

.icon32 {
    width:32px;
    height:32px;
}

.icon48 {
    width:48px;
    height:48px;
}

.icon64 {
    width:64px;
    height:64px;
}