.fill {
  .modal-dialog {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .modal-content {
      width: 100vw;
      height: 100vh;
      overflow: auto;
      padding-top: $safeTop;
      padding-bottom: $safeBottom;
    }
  }
}