.sidebar {
  .modal-dialog {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;

    .modal-content {
      border: 0;
      border-radius: 0;
      width: 300px;
      height: 100%;
      overflow: auto;
      padding-top: $safeTop;
      padding-bottom: $safeBottom;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.20);
    }
  }

  &.show .modal-dialog {
    transform: translate(0, 0) !important;
  }

  .modal-dialog-scrollable {
    height: 100%;
  }
}

.sidebar-left {
  .modal-dialog {
    transform: translate(-100%, 0) !important;
  }
}

.sidebar-right {
  .modal-dialog {
    transform: translate(100%, 0) !important;
    left: auto;
    right: 0;
  }
}
