
@import url('bootstrap-icons/font/bootstrap-icons.css');

@import 'bootstrap/bootstrap';
@import 'theme';
@import 'body';
@import 'input';
@import 'font';
@import 'icon';

@import 'framework/header';
@import 'framework/content';
@import 'framework/bottomMenu';


@import 'framework/loader';
@import 'framework/modal';
@import 'framework/sidebar';
