.appBottomMenuContainer,
.appBottomMenu {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
}

.appBottomMenuContainer {
    border-top: 1px solid #E1E1E1;
    padding-bottom: $safeBottom;

    .appBottomMenu {

        display: flex;
        align-items: center;
        justify-content: center;

        .item {
            color: $dark;

            line-height: 1em;
            text-align: center;
            width: 100%;
            height: 56px;

            display: flex;
            align-items: center;
            justify-content: center;

            label {
                display: block;
                font-size: 11px;
            }
        }
    }
}