
.appHeaderContainer , .appHeader {
    z-index: 999;
    min-height: 56px;
    position: fixed;
    top: $safeTop;
    left: 0;
    right: 0;
}

.appHeaderContainer {
    border-bottom: 1px solid #E1E1E1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);

    .appHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        .left,
        .right {
            position: absolute;
        }

        .left {
            left: 1rem;
        }

        .right {
            right: 1rem;
        }

        .pageTitle {
            color:$dark
        }
    }
}